/* 
    Document   : main
    Created on : Dec 4, 2013, 11:03:51 AM
    Author     : user123
    Description:
        Purpose of the stylesheet follows.
*/

html {
    position: relative;
    min-height: 100%;
}

hr {
    border-color: cornflowerblue;
    size: 2px;
}


body {
    background-color: gainsboro;
    margin: 0 0 20px; /* bottom = footer height */
    margin-bottom: 20px;
}

.wrapper {
    height: auto;
    padding-top: 10px;
    font-family: Electrolize;
    text-align: justify;
}

#content {
    width: 84%;
    position: relative;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 37px;
    float: left;

}

#submit {
    font-family: Electrolize;
    border-radius: 3px;
    border-color: dodgerblue;
    background: #143270;
    cursor: pointer;
    border-style: solid;
    color: white;
    font-size: .9em;
    border-width: 1px;
    padding: 4px;
}

#error {
    font-size: 0.8em;
    color: #f9f9f9;
    background: firebrick;
    border-radius: 9px;
    box-shadow: lightblue 0 0 2px 0;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 20px;
    margin-top: 2px;
    display: block;
    font-family: Electrolize;
    text-align: center;
    color: black;
    background-image:url('../resource/img/login_gradient.jpg');
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #A70000;
    border-style: solid;

}

#logo {
    float: left;
    padding: 5px;
    padding-left: 25px;
    height: 70px;
    width: 170px;
}

#site_title {
    height: 80px;
    background-image:url('../resource/img/login_gradient.jpg');
    width: 100%;
    margin-top: -1px;
    margin-bottom: 0px;
    border: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #A70000;
    border-style: solid;

}

#title_text{
    padding-top: 25px;
    margin-left: 217px;
    height: 70px;
    font-family: 'Electrolize';
    font-size: 29px;
}

.menubar {
    height: 20px;
    padding: 5px;
    padding-top: 0px;
    padding-left: 10px;
    font-family: Electrolize;
    color: white;
    clear: both;
    background: #A70000;
}

#links {
    padding-right: 4px;
    float: left;
}

#logout {
    padding-right: 4px;
    float: right;

}

a{
    margin: 4px;
    float: left;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    color: white;
    background: #A70000;
    text-decoration: none
}

a:hover{
    color: #A70000;
    background: gainsboro;
}

a:active{
    color: #A70000;
    background: white;
}

a#current_link {
    color: #A70000;
    background: gainsboro;

}

.nav_bar {
    margin-top: -4px;
    float:right;
    height: 100%;
    width: 162px;
    padding: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 0px;
    font-family: Electrolize;
    color: white;
    background: #A70000;
}

.nav_bar a{
    margin-left: -15px;
    width: 140px;
    float: left;
    padding: 3px;
    padding-left: 12px;
    display: block;
    color: white;
    background: #A70000;
    text-decoration: none
}
.nav_bar a:hover{
    color: #A70000;
    background: gainsboro;
}

.nav_bar a:active{
    color: #A70000;
    background: white;
}

#error_mid {
    margin: 12%;
    margin-left: 26%;
    width: 50%;
    vertical-align: bottom;
    padding: 10px;
    font-size: 1em;
    color: #f9f9f9;
    background: firebrick;
    border-radius: 9px;
    box-shadow: lightblue 2px 8px 0 0;
}

#info_wrapper {
    font-family: Ubuntu;
    padding: 3px;
    padding-top: -10px;
    padding-left: 9px;
    background-image: url('../resource/img/login_gradient.jpg');
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 9px;
}

h4 {
    font-family: Electrolize;
    width: 30%;
    text-align: center;
    background-color: #143270;
    display: block;
    border-radius: 3px;
    color: white;
    padding: 2px;
    margin-top: -7px;
    margin-bottom: 12px;

}

h3 {
    font-family: Electrolize;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    background-color: #143270;
    display: block;
    border-radius: 3px;
    color: white;
    padding: 4px;
    margin-top: -7px;
    margin-bottom: 12px;

}

#commands a {
    padding: 5px;
    border-radius: 5px;
    float:right;
    display: block;
    font-size: 0.8em;
    background-color: #A70000;
}

#commands a:hover {
    color: #A70000;
    background-color: gainsboro;
}

#commands a:active {
    color: #A70000;
    background-color: white;
}

.tab_content table{
    font-family: Ubuntu;
    font-size: 0.9em;
    border-radius: 6px;
    width: 90%;
    border-collapse: collapse;
    padding: 2px;

}

td {
    height: 6px;
    padding: 0px;
}



*[data-href] {
    cursor: pointer;
}

th {
    background-color: #143270;
    color: white;
}

#records a{
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    background: none;
    text-decoration: none
}

tr .odd{
    background-color: lightblue;
    color:black;
}

.tabbed_view h4{
    margin-left: 6px;
    font-size: 1.1em;
    width: 110px;
    font-family: Electrolize;
    text-align: center;
    background-color: #143270;
    border-radius: 5px;
    float:left;
    display: block;
    color: white;
    padding: 3px;
    -webkit-box-shadow: 0 2px 0 0 lightblue;
}

.tab_content {
    clear:both;
    padding: 10px;
}

.tabbed_view {
    font-family: Ubuntu;
    padding: 3px;
    padding-top: -10px;
    padding-left: 9px;
    background-image: url('../resource/img/login_gradient.jpg');
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 9px;
}